streamlit==1.58.0
pandas==3.0.1
numpy==1.26.4
scikit-learn==1.8.0
joblib==1.5.3
matplotlib==3.7.4
seaborn==0.13.2
python-docx==0.8.11
openpyxl==3.1.5
pyinstaller==6.1.0

# Для корректной работы pkg_resources внутри PyInstaller
setuptools==70.0.0
jaraco.collections==5.0.0
jaraco.functools==4.0.0
